body {
    font-family:Helvetica,Arial,Sans-serif;
    background: url('images/beige016.gif');
    color: rgb(82,82,82);
}
#container {
    width : 900px;
    margin:auto;
} 
#header h1, #nav h3 {
    font-weight: normal;
    text-transform: uppercase;
}
#header , #animation {
    display: inline-block;
}
/*
.haut {
text-align:right;
}
#container {
    width : 900px;
    margin:auto;
} 
#header {
    text-align : center;
    padding:10px;
    border: solid 1px black;
}

#header h1 {
    font-weight: normal;
    text-transform: uppercase;
}
#content {
    padding : 10px;
    border: solid 1px black;
}
#nav {
    width : 180px;
    float : left;
    border: solid 1px black;
}
#nav ul {
    list-style-type:none;
    padding:0;
}
#nav .selected {
    font-weight:bold;
}

#main {
    width:600px;
    float : right;
    border: solid 1px black;
}

#footer {
    clear:both;
    padding:10px;
    text-align:center;
    border: solid 1px black;
}
*/